.navButtons {
  margin: 0 10px !important;
}

.textLink {
  font-weight: 500;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.textLink:hover {
  /* text-decoration: none; */
  color: black;
}

.mutedLink {
  color: var(--text-light);
}

.mutedLink:hover {
  color: black;
  text-decoration: none;
}

.userMenu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 350px;
  background-color: #f1f1f1;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.linksContainer {
  flex: 1;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.linksContainer li {
  display: flex;
  align-items: center;
  min-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.linksContainer li:last-child {
  border-bottom: none;
}

.linksContainer li a {
  width: 100%;
  height: 100%;
  color: #5861b6;
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
}

.linksContainer li a:hover {
  text-decoration: none;
  color: #323872;
}

.userInfoContainer {
  padding: 10px 0;
  margin-bottom: 20px;
}

.userInfoContainer .boldName {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .userMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.userMenu a:hover {
  background-color: #ddd;
} */
