.pageContainer {
  background-color: var(--sky-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 500px;
  padding: 200px 10px 100px 10px;
}

.textContainer {
  padding: 70px 30px 100px 30px;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
