.cardContainer {
  max-width: 90vw;
  width: 350px;
  height: 600px;
  margin: 40px;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardTitle {
  font-family: "Lato";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.cardContainer .actionButton {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 1.1rem;
  min-height: 45px;
  line-height: 45px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.cardContainer .actionButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topInfo {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
}

.bottomInfo {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.bottomInfo ul {
  padding: 0 10px;
  list-style: none;
}

.bottomInfo ul li::before {
  content: "\2713";
  font-weight: bold; /* If you want it to be bold */
  display: inline-block;
  width: 1.2rem;
  margin-left: -1rem;
}
