.boxContainer {
  background-color: #18323b;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: space-between;
  text-align: left;
}

.codeContainer {
  max-height: 120px;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.codeContainer::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.codeContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.codeContainer code {
  color: rgba(255, 255, 255, 0.6);
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.copyButton {
  min-height: 40px;
  min-width: 40px;
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.copyButton:hover {
  color: white;
  opacity: 0.8;
}

.copyButton:focus {
  outline: 0;
  box-shadow: none;
}

.copyIcon {
  font-size: 20px;
}
