:root {
  --sky-blue: #53c0f0;
  --dirty-blue: #87aab9;
  --footer-gray: rgb(219, 218, 214);
  --cream: #f9f3c5;
  --brick-red: #8a140e;
  --grass-green: #7ec850;
  --sunny-yellow: #e7f9a9;
  --main-bg: #b8d0eb;
  --heading-font: "DM Serif Display", serif;
  --main-font: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --footer-height: 75px;
  --text-light: rgba(0, 0, 0, 0.4);
  --text-lighter: rgba(0, 0, 0, 0.3);
  --border-color: #e5e7e9;
  --sharp-blue: #454e9e;
  --sharp: #f07c42;
  --logo-second: #b8c8f4;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-blur: 15px;
  --light-bg: rgba(184, 200, 244, 0.1);
  --highlight: #f7d002;
  --green: #04a777;
  --slow-yellow: #ffba08;
  --slow-blue: #3f88c5;
  --liver-red: #d00000;
  --purple: #6a7fdb;
  --slow-green: #8ed081;
  --brown: #b57f50;
  --dark-green: #136f63;
  --medium-red: #da3e52;
  --sharp-purple: #613dc1;
  --sharp-orange: #f06543;
  --light-green: #9dc4b5;
  --browny-red: #bc4749;
  --dark-purple: #885a89;
  --light-blue: #57b8ff;
  --pork-pink: #f991cc;
  --highlight-green: #7ec850;
  --brick-orange: #f09d51;
  --light-gray: rgba(0, 0, 0, 0.02);
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
small,
li {
  font-family: var(--main-font);
  font-weight: 300 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: var(--heading-font);
}

.bigger-p-text {
  font-size: 1.2rem;
  text-align: justify;
}

.light-text {
  color: var(--text-light);
}

::-moz-selection {
  background-color: #eeefa8;
}

::selection {
  background-color: #eeefa8;
}

.centered-x {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.pad-x-10 {
  padding: 0 10%;
}

.pad-x-5 {
  padding: 0 5%;
}

.poster-heading {
  margin-bottom: 30px;
}

.large-heading-margin {
  margin-bottom: 30px;
}

.big-row {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  padding-top: 150px;
  padding-bottom: 150px;
  justify-content: center;
}

.max-width {
  max-width: 1200px;
}

input {
  border-radius: 0;
}

label.bold {
  font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  min-height: 46px;
  border-radius: 0 !important;
}

textarea {
  border-radius: 0 !important;
}

::placeholder {
  color: var(--text-lighter) !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-lighter) !important;
}

::-ms-input-placeholder {
  color: var(--text-lighter);
}

.text-column {
  width: 100%;
  max-width: 600px;
  text-align: justify;
}

strong {
  font-weight: 700 !important;
}

.full-page-centered {
  height: 100%;
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.bg-sky-blue {
  background-color: var(--sky-blue);
}

.bg-pork-pink {
  background-color: var(--pork-pink);
}

.centered-form {
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  padding: 30px;
  max-width: 600px;
  width: 100%;
  border: 0;
  min-height: 400px;
}

.centered-form h1 {
  margin-bottom: 20px;
}

.error {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e4584c;
}

.text-sharp {
  color: var(--sharp);
}

.highlight {
  color: var(--highlight);
  font-weight: bold;
}

.highlight:hover {
  color: var(--slow-yellow);
  text-decoration: none;
}

.back-button {
  margin-top: 20px;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

.back-button:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.nav-item.active.top a {
  border-bottom: 1px solid black;
}

.nav-item.top a {
  padding: 0 !important;
}

.nav-item.active.side a {
  border-right: 5px solid #5861b6;
}

.top-poster {
  background-color: var(--sky-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 500px;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.transparent-scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
