.editor-container {
  margin-top: 50px;
  background-color: white;
  color: black;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  padding: 25px 20px;
  /* min-height: 200px; */
}

.empty-editor-p.active-block {
  min-height: 200px;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
}

.editor-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.editor-image-container img {
  max-width: 100%;
  object-fit: contain;
}

.ql-editor p:not(:first-child) {
  margin-top: 20px;
}

.ql-editor h1 {
  margin-top: 30px;
  font-weight: bold;
}

.ql-editor h2 {
  margin-top: 20px;
  font-weight: bold;
}

.ql-editor h3 {
  margin-top: 15px;
  font-weight: bold;
}

.ql-editor ul,
.ql-editor ol {
  margin-top: 10px;
}

.ql-editor a {
  color: var(--theme-navbar-menu-item-accent-color);
}
