.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.successMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--grass-green);
  padding: 40px 0;
}

.successMessage svg {
  margin-bottom: 40px;
}

.container .belowButton {
  margin-top: 20px;
}
