.teamsContainer {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.teamsContainer a {
  color: inherit;
}

.teamsContainer a:hover {
  text-decoration: none;
}

.teamBox {
  border: 1px solid var(--border-color);
  margin: 5px;
  padding: 25px;
  text-align: center;
  -webkit-transition: background-color 400ms ease;
  -ms-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.teamsContainer a:hover .teamBox {
  background-color: var(--light-gray);
}
