.embedRow {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}

.embedTitle {
  margin: 0;
  padding: 0 20px;
}

.embedPreviewCol {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showRoom {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}
