.container {
  background-color: white;
  min-height: 75vh;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowContainer {
  margin-top: 150px;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.formColumn {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}
