.RowContainer {
  background-color: #efeae6;
  min-height: 75vh;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  margin-bottom: 150px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vitrinContainer {
  display: flex;
  max-width: 98%;
  flex-wrap: wrap;
  justify-content: center;
}
