.container {
  background-color: white;
  min-height: 75vh;
  padding: 150px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vitrinContainer {
  width: 100%;
  max-width: 800px;
  margin-top: 100px;
}
