.media-adder-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: red; */
  align-items: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  /* min-height: 150px; */
}

.media-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.add-media-button {
  font-size: 1.25rem;
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  border-width: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
}

.add-media-button:hover {
  border-width: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.add-media-button:focus {
  outline: none;
}
