.introContainer {
  margin-top: 150px;
}

.sectionContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: justify;
}

.sectionContainer h1,
.sectionContainer h2 {
  text-align: center;
  margin-bottom: 50px;
}

.lastSection {
  margin-bottom: 125px;
}
