.scrollableInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  padding: 0 20px;
  flex: 1;
  font-size: 0.9rem;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  /* text-align: justify; */
}

.scrollableInfoContainer::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.scrollableInfoContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.fixedInfoContainer {
  padding: 0 20px;
  margin-top: 10px;
}

.fixedInfoContainer .subtitleContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.fixedInfoContainer a {
  color: inherit;
}

.fixedInfoContainer a:hover {
  text-decoration: none;
}

.fixedInfoContainer p {
  margin: 0;
}

.fixedInfoContainer .priceTagContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.fixedInfoContainer .priceTagContainer .priceTag {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: right;
}

.substitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}
