.imageContainer {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  color: rgba(255, 255, 255, 0.4);
}

.imageContainer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
