.container {
  color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 90vw !important;
  background-color: #04a777;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 10px;
}

.poolCardShadow {
  box-shadow: 0 25px 60px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 25px 60px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 25px 60px 5px rgba(0, 0, 0, 0.5);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.cardFooter {
  padding: 20px 0;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
