.tooltipContainer {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.tooltipContainer strong {
  font-weight: 700;
  color: white;
}

.tooltipContainer ul {
  margin: 0;
  padding: 0 20px;
}

.tooltipContainer ul li {
  margin: 0 0 10px 0;
}
