.footerContainer {
  background-color: var(--footer-gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.7);
}

.footerContainer p {
  font-size: 0.9rem;
  color: inherit;
  margin: 0;
}

.footerContainer a {
  color: rgba(0, 0, 0, 0.8);
}

.footerContainer a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.footerContainer .columnsContainer {
  padding: 100px 20px;
}

.column {
  margin-bottom: 50px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.copyRight {
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
}
