.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceContainer {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}

.secondaryText {
  color: rgba(255, 255, 255, 0.8);
}

.priceContainer .dollarSign {
  font-size: 48px;
  margin-top: 0px;
  margin-right: 12px;
}

.priceContainer .dollars {
  font-size: 96px;
  line-height: 96px;
}

.priceContainer .cents {
  font-size: 32px;
  margin-top: 12px;
}
