.mainPosterContainer {
  background-color: var(--cream);
  /* background-color: var(--sky-blue); */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 600px;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.mainPosterContainer a {
  color: inherit;
  text-decoration: underline;
}

.mainPosterContainer a:hover {
  color: var(--brick-red);
}

.mainPosterContainer ul {
  padding: 10px;
}

.mainPosterContainer ul li {
  margin-top: 10px;
}
