.container {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  background-color: var(--sky-blue);
  padding: 100px 0;
  justify-content: center;
}

.horizontalPadding {
  padding: 100px 10%;
}

.maxWidth {
  max-width: 1200px;
}
