.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.posterContainer {
  background-color: var(--liver-red);
  height: 75vh;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
}

.posterContainer .mainMessage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
}

.posterContainer .mainMessage .textContainer {
  /* margin-top: 40px; */
  max-width: 600px;
  overflow: scroll;
}

.posterContainer .mainMessage p {
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.posterContainer .mainMessage a {
  text-decoration: none;
  border-bottom: 1px solid var(--highlight);
  padding-bottom: 3px;
  color: inherit;
}

.posterContainer .mainMessage a:hover {
  color: var(--highlight);
  font-weight: 500;
}

.posterContainer .bottomInfo {
  padding: 20px 3%;
  color: white;
}

.posterContainerposterContainer .bottomInfo .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtitle {
  color: rgba(255, 255, 255, 0.8);
}

.bottomLink {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  opacity: 0.8;
  align-self: center;
}

.bottomLink:hover {
  text-decoration: none;
  opacity: 1;
}

.chevronDown {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  content: '';
  top: 0;
  position: relative;
  height: 0.75rem;
  width: 0.75rem;
  transform: rotate(135deg);
  transition: top ease-out 0.1s;
}

.bottomLink:hover .chevronDown {
  top: 5px;
}
