.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  padding: 20px 40px;
  background-color: #454e9e;
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  white-space: nowrap;
  outline: inherit;
  -webkit-transition: background-color 400ms ease;
  -ms-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.smallButton {
  height: 45px;
  /* padding: 0px 30px; */
}

.block {
  width: 100%;
}

.outline {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.round {
  border-radius: 5px;
}

.button:hover {
  background-color: #383f80;
  color: white;
  text-decoration: none;
}

.button:disabled {
  opacity: 0.7;
  cursor: auto;
}

.button:focus {
  outline: 3px solid var(--highlight);
}

.button.outline:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
