.container {
  position: relative;
  display: inline-block;
  max-width: 30vw;
}

.topButton {
  background: transparent;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  min-width: 100px;
  outline: inherit;
}

.topButton::after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  top: -5px;
  left: 10px;
  position: relative;
  vertical-align: middle;
  transform: rotate(135deg);
}

.topButton:focus {
  outline: none;
}

.menu {
  perspective: 1000px;
  display: none;
  /* display: block; */
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
}

.container:hover .menu {
  display: block;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
