.container {
  background-color: var(--grass-green);
  padding-top: 100px;
}

.linksContainer {
  min-height: 300px;
}

.column .heading {
  margin-bottom: 20px;
}

.column ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

.column p {
  margin: 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.column a {
  color: inherit;
}

.copyRight {
  padding: 10px;
  font-size: 0.7rem;
  color: var(--text-light);
}
