.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 0;
  max-width: 40vw;
}

.logoImage {
  height: 60px;
  margin-right: 10px;
}

.logoImage img {
  max-height: 100%;
}

.brand {
  font-size: 3rem;
  font-family: 'Rancho', cursive;
}

.accent {
  color: var(--sunny-yellow);
}
