.priceContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.priceContainer .currency {
  margin-left: 20px;
  font-size: small;
  min-width: 100px;
}

.numberContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.numberContainer button {
  background: transparent;
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.15);
}

.numberContainer button:active {
  background: #eaeaea;
}

.numberContainer input {
  background: transparent;
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 0;
  border: none;
  text-align: center;
  min-height: 10px;
}

.numberContainer input::-webkit-inner-spin-button,
.numberContainer input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rightAlign {
  text-align: right !important;
}

.leftAlign {
  text-align: left !important;
}

.addon {
  padding: 0px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}
