.container {
  margin-top: 200px;
  background-color: #32161f;
  width: 100%;
  max-width: 1200px;
  color: white;
  flex-direction: row-reverse;
}

.container .infoContainer,
.container .imageContainer {
  height: 350px;
}

.infoContainer {
  padding: 5%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.infoContainer .textContainer {
  flex: 1;
}
.infoContainer .textContainer h2 {
  margin-bottom: 20px;
}

.infoContainer .textContainer p {
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
}

.linkContainer a {
  color: #33f1ff;
}

.linkContainer a:hover {
  font-weight: bold;
  text-decoration: none;
}

.imageContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer .imageCanvas {
  width: 100%;
  height: 100%;
  background-color: black;
}

.transparentImage {
  background-color: transparent !important;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
