.container {
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: var(--sky-blue);
  padding: 0 10px;
}

.leftContainer {
  text-align: left;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.rightContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
