.rowContainer {
  list-style: none;
  display: flex;
  width: 98%;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}

.rowContainer::after,
.rowContainer::before {
  content: "";
  flex: 1;
}

.rowContainer::-webkit-scrollbar {
  /* display: none; */
}

.itemContainer {
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 250px;
  height: 500px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 10px;
  transition: transform 0.2s;
}

.itemContainer:hover {
  transform: scale(1.05);
}

.imageContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px;
  flex: 1;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 0;
}

.infoContainer .description {
  margin-top: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  /* opacity: 0.8; */
}

.infoContainer p {
  margin: 0;
}

.infoContainer .title {
  margin-bottom: 5px;
}

.infoContainer .subtitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  /* opacity: 0.8; */
  /* color: rgba(); */
}

.infoContainer .priceTag {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 10px 0;
  border: 1px solid white;
  padding: 5px;
  text-align: right;
  align-self: flex-end;
}

.infoContainer .priceDetail {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  text-align: right;
  align-self: flex-end;
}

.buttonContainer button,
.buttonContainer .cardButton {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 1rem;
  min-width: 150px;
  padding: 0 20px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
}
