.posterRow {
  background-color: var(--pork-pink);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 500px;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 100px;
}
