.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0;
  max-width: 80vw;
}

.sidebarContainer .sidebarHeader {
  min-height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.sidebarContainer .sidebarHeader .closeButton {
  color: #5861b6;
  font-size: 1.5rem;
}

.sidebarContainer .sidebarHeader .closeButton:hover {
  color: #323872;
}

.sidebarContainer .sidebarHeader .closeButton:focus {
  outline: none !important;
  box-shadow: none !important;
}

.sidebarContainer .sidebarNav {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.openSidebar {
  width: 300px;
}

.sidebarContainer .sidebarNav a {
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  color: #5861b6;
  display: block;
  transition: 0.3s;
}

.sidebarContainer .sidebarNav a:hover {
  text-decoration: none;
  color: #323872;
}

.sidebarContainer .sidebarFooter {
  padding: 20px;
}
