.title-input {
  background: transparent;
  border: none;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  word-break: break-word;
}

.title-input:focus {
  outline: none !important;
}

.title-input:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: rgba(0, 0, 0, 0.3);
}
