.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logoImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

.logoImageContainer img {
  height: 100%;
}

.brandContainer {
  font-size: 2rem;
  font-family: "Rancho", cursive;
}
