.toggleButton {
  background-color: transparent;
  border: none !important;
  transition: color 0.4s ease;
  font-size: 1.3rem;
}

.toggleButton:focus {
  outline: none !important;
  box-shadow: none !important;
}

.toggleButton:hover {
  color: white !important;
}
