.container {
  margin: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.headingInfo {
  text-align: center;
  padding: 100px 50px 50px 50px;
}

.embedRow {
  padding: 20px;
}

.embedRow .titleContainer {
  padding: 0;
  padding-bottom: 10px;
}

.previewCol {
  padding: 0;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.websiteButtonContainer {
  min-height: 400px;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.websiteButtonContainer .lightSwitch {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.websiteButtonContainer .lightSwitch .switchText {
  margin: 0 10px;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.embedRow .codeBlock {
  margin: 0;
  padding: 20px;
  background-color: #18323b;
  color: white;
}

.embedRow .codeBlock pre {
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  max-height: 60px;
  padding-right: 10px;
}

.embedRow .codeBlock .codeSnippet {
  padding-bottom: 20px;
}

.embedRow .codeBlock pre > code {
  white-space: pre-wrap;
  /* font-size: 0.8rem; */
}

.embedRow .codeBlock div {
  margin: 0;
  padding: 0;
}

.embedRow .codeBlock .buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyButton {
  background-color: rgba(255, 255, 255, 0.8);
  color: #18323b;
}

.copyButton:hover {
  background-color: white;
  color: #18323b;
}
