.container {
  min-height: 650px;
  background-color: #f07c42;
  padding: 100px 5%;
}

.centeredRow {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stepsList {
  padding-left: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.imageContainer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 80px 0; */
}

.buttonPic {
  width: 400px;
  max-height: 500px;
}

.boldPoint {
  color: var(--sunny-yellow);
}
