<div class="">
  <div class="aHl"></div>
  <div id=":ux" tabindex="-1"></div>
  <div id=":um" class="ii gt">
    <div id=":ul" class="a3s aiL ">
      <div class="adM">


      </div>
      <div style="font-size:16px;line-height:1.5;max-width:600px">
        <div class="adM">

        </div>
        <p style="margin-bottom:1em">Have you thought about creating your own products yet?</p>
        <p style="margin-bottom:1em">If so, you've likely gotten a bit hung up when it comes to thinking about how you
          would <em>sell</em> that product.</p>
        <p style="margin-bottom:1em">Some of the software to host that product can be expensive.</p>
        <p style="margin-bottom:1em">And perhaps you need money <em>now. </em></p>
        <p style="margin-bottom:1em"><strong>Did you know that you can sell products right from your email
            list?</strong></p>
        <p style="margin-bottom:1em">No fancy software delivery or sales page required.</p>
        <p style="margin-bottom:1em">It's super easy to set up and you can start selling your products right away. </p>
        <p style="margin-bottom:1em">Test out your ideas. Get fancy later on. </p>
        <p style="margin-bottom:1em"><strong>I know this part of starting to make real money from the things that you
            create is a bit overwhelming.</strong></p>
        <p style="margin-bottom:1em">This is part where the feelings of imposter syndrome really set in.</p>
        <p style="margin-bottom:1em"><em>Can I actually do this?</em></p>
        <p style="margin-bottom:1em"><em>Why would people want to buy anything from me?</em></p>
        <p style="margin-bottom:1em"><strong>I'm here to tell you that you CAN do this.</strong></p>
        <p style="margin-bottom:1em">And I want to help you learn how. </p>
        <p style="margin-bottom:1em">I'm hosting a free LIVE workshop next Wednesday on this very subject: <em>How to
            Successfully Sell Your Products to Your Email List</em><em></em></p>
        <p style="margin-bottom:1em">Even if you're not quite in a place where you're ready to create a product just
          yet, this training is invaluable and will give you an idea of what you can expect to grow your blog. </p>
        <p style="margin-bottom:1em"><em>Plus, the world is still in various states of lockdown right now. I'd love to
            hear from y'all!</em><br></p>
        <p style="margin-bottom:1em"><strong><a
              href="https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk="
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk%3D&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNFe7PiSB_qAZXzKFobRi1R27v9Ngw">Click
              here to register for the FREE workshop!</a></strong></p>
        <p style="margin-bottom:1em"><span>I hope to see you there!</span></p>
        <p style="margin-bottom:1em;text-align:center" rel="text-align: center;"><a
            href="https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk="
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk%3D&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNFe7PiSB_qAZXzKFobRi1R27v9Ngw"><img
              src="https://ci4.googleusercontent.com/proxy/RATKLorV9Gho1NljPB51UpJICa_yu1fQVDh0XlnhbNyQKoismZ70m7jAragTBZBvcWO1t4YdNNLB_FyTncerHuVS_SfkTrzlra3ePJ1yP3ZqxkLspFA_DJiCRoQt7HGXd5wlmYVfeZwNFKCr5w=s0-d-e1-ft#https://embed.filekitcdn.com/e/sE3pJBRgXH7jG81bgfUGCT/e7BoKxQ6cktgcEUV2qeW3U?w=800&amp;fit=max"
              alt="" style="max-width:100%;height:auto" class="CToWUd"></a></p>
        <p style="margin-bottom:1em">I'm co-hosting this webinar with my friend and fellow creator Angel Marie from
          ConvertKit! </p>
        <p style="margin-bottom:1em">Angel works daily with leading creators who earn a full time living online, so she
          can give some awesome perspective on what's working for other creators out there -- <em>right now.</em></p>
        <p style="margin-bottom:1em">During the workshop, Angel is going to share with you:<br></p>
        <ul>

          <ul>
            <li>Why digital product creation can set your business up for success </li>
            <li>How to create a digital product without all the overwhelm</li>
            <li>How to easily sell your digital product directly through ConvertKit</li>
          </ul>
        </ul>
        <ul>

        </ul>
        <p style="margin-bottom:1em">And I’ll be sharing some of my best strategies from my own personal experience with
          my two six-figure blogs as well.</p>
        <p style="margin-bottom:1em"><strong>The live workshop will be Wednesday, December 9th at 11 AM Pacific | 2 PM
            Eastern. </strong></p>
        <p style="margin-bottom:1em"><a
            href="https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk="
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk%3D&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNFe7PiSB_qAZXzKFobRi1R27v9Ngw">You
            can save your seat right here!</a> </p>
        <p style="margin-bottom:1em">P.S. You don't have to be a ConvertKit user to attend this free workshop. <br></p>
        <p style="margin-bottom:1em">Anyone that attends will get real, actionable takeaways to implement right after
          the workshop no matter what tool you use. </p>
        <p style="margin-bottom:1em">There will be some <strong>free bonuses for those who can make it to the live
            event</strong> but even if you can't make it live, you can </p>
        <p style="margin-bottom:1em"><a
            href="https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk="
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/p8heh9h93kzzv2cq/aHR0cHM6Ly9jb252ZXJ0ay5pdC9jcmVhdGUxMjk%3D&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNFe7PiSB_qAZXzKFobRi1R27v9Ngw">Click
            here to register for the free workshop.</a> </p>
        <p style="margin-bottom:1em"><br></p>

        <p style="margin-bottom:1em">

        </p>Cheers,<br>Alex and Lauren<br>



        <br>

        <br>

        <small>

          This email contains affiliate links, which means that we will receive a commission if you decide to purchase
          through our links. This is at no additional cost to you, and it helps us continue to offer free content on our
          blog. Please read our <a
            href="https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/x0hph6hnr8wwgzs5/aHR0cHM6Ly9jcmVhdGVhbmRnby5jb20vZGlzY2xhaW1lci8="
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail.com/lmuxnz4x96tmheme2lb6/x0hph6hnr8wwgzs5/aHR0cHM6Ly9jcmVhdGVhbmRnby5jb20vZGlzY2xhaW1lci8%3D&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNFtvgGeB3T6xh_LoC6CzRfh6M4doQ">disclosure</a>
          for more information.

          <br><br>

        </small>

        <small>

          We only want to send you the most awesome content that is relevant to you and your blog biz. If you'd rather
          no longer receive emails from us, you can <a
            href="https://unsubscribe.convertkit-mail.com/lmuxnz4x96tmheme2lb6" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://unsubscribe.convertkit-mail.com/lmuxnz4x96tmheme2lb6&amp;source=gmail&amp;ust=1607312632052000&amp;usg=AFQjCNGwuBgYhrIwd5foCJ1yzeFt1Wwi8A">unsubscribe</a>
          at any time. We'll only cry a little bit.

          <br><br><br>

        </small>

        <small>

          113 Cherry St #92768, Seattle, WASHINGTON 98104-2205

          <br>

        </small>

      </div>

      <img
        src="https://ci4.googleusercontent.com/proxy/kVEF-NA0ktM76EOCtWN8siOvBVoMurIHH28QeEl2kC6HmtBTOgw4QeemcjSdArws7Wx7A4Dqu8QLLXmqC6QRmY60vpCHEZHz=s0-d-e1-ft#https://open.convertkit-mail.com/lmuxnz4x96tmheme2lb6"
        alt="" class="CToWUd">
      <div class="yj6qo"></div>
      <div class="adL">

      </div>
    </div>
  </div>
  <div id=":v1" class="ii gt" style="display:none">
    <div id=":v2" class="a3s aiL undefined"></div>
  </div>
  <div class="hi"></div>
</div>