<meta charset='utf-8'>
<p class="p1"
  style="box-sizing: border-box; margin: 0px 0px 20px; padding: 10px; font-family: Roboto; font-size: 18px; font-weight: 300; line-height: 1.4em; clear: both; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
  Marketing technology increasingly accounts for a significant share of marketing budgets, and 2018 was no different.
  According to Gartner’s CMO<span> </span><a href="https://martechtoday.com/_wp_link_placeholder"
    data-wplink-edit="true"
    style="box-sizing: border-box; background: 0px 0px; color: rgb(242, 88, 34); text-decoration: underline; font-size: 18px;">survey</a>,
  martech ate up nearly a third of marketing budgets, making marketing technology the largest area of investment for
  marketing resources and programs. And, according to the survey, it’s expected to grow with continued investments in
  2019.</p>
<p class="p1"
  style="box-sizing: border-box; margin: 0px 0px 20px; padding: 10px; font-family: Roboto; font-size: 18px; font-weight: 300; line-height: 1.4em; clear: both; color: rgb(0, 0, 0); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
  According to the survey, CMOs spent an average of 25 percent of their martech budget on three channels: search (11.2
  percent), email (5.9 percent), and website (7.6 percent). Marketing and customer analytics platforms accounted for 8.9
  percent, indicating the need for measurement tools – and processes – to continue supporting these programs.</p>