.container {
  min-height: 75vh;
  background-color: var(--sky-blue);
  padding: 100px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centeredRow {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stepsList {
  padding-left: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.boldPoint {
  color: var(--purple);
  /* font-weight: 500; */
}

.moreInfo {
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.moreInfo a {
  color: inherit;
  text-decoration: underline;
}

.moreInfo a:hover {
  color: var(--purple);
  text-decoration: none;
}

.imageContainer {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 100%;
  max-width: 500px;
  /* max-width: 100%; */
  /* max-height: 100%; */
  object-fit: contain;
}
